@import "../../assets/bourbon/bourbon";
@import "../../assets/neat/neat";
@import "../../assets/var.scss";

$neat-grid: (
  columns: 12,
  gutter: 0px,
);

.container {
  @include grid-container;
  @include size(100% 650px);
  // border: 2px solid yellow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-shadow: 1px 1px 1px black;

  .pie {
    @include grid-column(2.75);
    text-align: center;
  }
  .doughnut {
    @include grid-column(2.75);
    text-align: center;
  }
  .polar {
    @include grid-column(2.75);
    text-align: center;
  }
  .bar {
    @include grid-column(2.75);
    text-align: center;
  }


}

@media only screen and (max-width: 1100px) {

  .container {


    .pie {
      @include grid-column(12);
    }
    .doughnut {
      @include grid-column(12);
    }
    .polar {
      @include grid-column(12);
    }

  }

}
