<div class="container">
  <div class="top-bar">

    <div class="export-deck">
      <app-export-deck-form [childDeckToSave]="updatedDeck"></app-export-deck-form>
    </div>
    <div class="card-search">
        <app-search (clickSender)="addToDeck($event)"></app-search>
    </div>
    <div class="deck-list">
      <app-deck-list (clickSender)="setUpdatedDeck($event)"></app-deck-list>
    </div>

  </div>


  <div class="card-display">
      <app-card-display (clickSender)="setRemoveCard($event)" [cardsToDisplay]="masterCardsToDisplay" [childDeck]="updatedDeck" ></app-card-display>
  </div>

  <div class="deck-charts">
    <app-deck-chart [childBarChartData]="barChartData" [childPieChartData]="pieChartData" [childPolarChartData]="polarChartData" [childDoughnutChartData]="doughnutChartData" [chartCards]="cardForCharts"></app-deck-chart>
  </div>

</div>
