<div class="container">
  <div class="side-bar">

    <div class="box1">
      export deck
    </div>
    <div class="box2">
      deck list
    </div>
    
  </div>

  <div class="main-content">

    <div class="box3">
      card search
    </div>
    <div class="box4">
      card display
    </div>
    <div class="box5">
      charts
    </div>

  </div>

</div>















<!-- GRID START -->
<!-- <md-grid-list cols="4" rowHeight="500px" gutterSize='20px'>

  <md-grid-tile colspan='1' rowspan='3'>
    <div class="export-deck">
      <app-export-deck-form [childDeckToSave]="updatedDeck"></app-export-deck-form>
    </div>
  </md-grid-tile>

  <md-grid-tile colspan='3' rowspan='1'>
    <div class="deck-list">
      <app-deck-list (clickSender)="setUpdatedDeck($event)"></app-deck-list>
    </div>
    <app-search (clickSender)="addToDeck($event)"></app-search>
  </md-grid-tile>

  <md-grid-tile colspan='3' rowspan='1'>
    <app-card-display [cardsToDisplay]="masterCardsToDisplay"></app-card-display>
  </md-grid-tile>

  <md-grid-tile colspan='3' rowspan='1'>
    <app-deck-chart></app-deck-chart>
  </md-grid-tile>

</md-grid-list> -->
<!-- GRID END -->
<!-- !ADRIAN! - implement canActivateChild for these child comps !-->
<!-- Keep it groovy -->
