@import "../../assets/bourbon/bourbon";
@import "../../assets/neat/neat";
@import "../../assets/var.scss";

$neat-grid: (
  columns: 12,
  gutter: 0px,

);

.container {

  .top-bar {
    @include grid-column(12);
    @include size(100% 550px);
    @include grid-container;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    .export-deck {
      @include grid-column(3);
      @include size(18% 500px);
      display: flex;
      justify-content: center;
      order: 1;
    }
    .card-search {
      @include grid-column(6);
      @include size(60% 500px);
      display: flex;
      justify-content: center;
      align-items: center;
      order: 1;

    }
    .deck-list {
      @include grid-column(3);
      @include size(18% 500px);
      display: flex;
      justify-content: center;
      align-items: center;
      order: 1;
    }
  }
    .card-display {
      @include grid-column(12);
      @include size(100% 550px);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .deck-charts {
      @include grid-column(12);
      @include size(100% 550px);
      border: 2px solid red;
    }

  @media only screen and (max-width: 1100px) {
    .top-bar {
      @include size(100% 750px);
      flex-direction: column;
      .export-deck {
        @include grid-column(12);
        @include size(100% 200px);
      }
      .card-search {
        @include grid-column(12);
        @include size(100% 350px);
        order: 2;
      }
      .deck-list {
        @include grid-column(12);
        @include size(100% 200px);
      }
    }
  }
}
// BREAK POINTS:
