<div class="container">
  <h1>About the Project:</h1>
  <div class="joe">
    <md-card>
      <md-card-header>
        <md-card-title>
          Joe Parsley
        </md-card-title>
      </md-card-header>
      <md-card-content>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </md-card-content>
    </md-card>
  </div>
  <div class="jared">
    <md-card>
      <md-card-header>
        <md-card-title>
          Jared
        </md-card-title>
      </md-card-header>
      <md-card-content>
        Jared, having been born in a desert, longed for the sea at a young age. At times, he would stand by the sink inside of his house and imagine a vast ocean, full of adventure and exploration. One day, while wearing his classic tri-corn hat and leather doublet, Jared sent out to accomplish his dream of becoming the first Pirate Lord. He then realized he was in a landlocked state. So after a quick google search, Jared discovered the second meaning of piracy. Immediately setting out to a small tech school, he then met his rival, Adrian Smith. After losing an arm wrestling match to the ham enthusiast, Jared has been focusing on honing his skills as a web developer in order to achieve his true dream, becoming the best pirate the world has ever known.  
      </md-card-content>
    </md-card>
  </div>
  <div class="adrian">
    <md-card>
      <md-card-header>
        <md-card-title>
          Adrian
        </md-card-title>
      </md-card-header>
      <md-card-content>
        Adrian was born in a small town in Brutaslaviac. Between ages 5 and 5.5, Adrian was studying the vast concepts of computer science. His brain, being larger than most peoples, allowed Adrian to surpass his colleagues and be accepted to the University of Mensa at age 14. After shaming all those in Brakaslovo who questioned his knowledge, Adrian ventured off to America to face bigger challenges. There, at a small school in Portland, Adrian met his one and only rival..Jared Lotdkmeo. Adrian would continue on to defeat his rival by winning a arm wrestle match while simultaneously eating a ham sandwich. He also developed some of this application.
      </md-card-content>
    </md-card>
  </div>
  <div class="info">
    <h2>Additional Info:</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>

</div>
