@import "../../assets/bourbon/bourbon";
@import "../../assets/neat/neat";
@import "../../assets/var.scss";

$neat-grid: (
  columns: 12,
  gutter: 0px,

);



.container {
  @include size(96% 500px);
  display: flex;
  justify-content: center;
  align-items: center;

  md-card {
    margin-left: 50px;
    text-shadow: 1px 1px 1px black;
    box-shadow: 4px 4px 4px solid black;
    border-radius: 5px;

    @include size(1200px 400px);

    md-card-header {
      height: 35px;
      display: flex;
      justify-content: center;



      md-card-title {
        margin-top: 5px;
        margin-right: 5px;
      }

      .material-icons{
        margin-bottom: 20px;
      }
    }

    md-card-content {
      @include size(100% 365px);

      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      overflow-y: auto;

      ul {
        width: 125px;
        // border: 2px solid yellow;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items:  flex-start;
        margin-bottom: 5px;
        margin-left: 10px;

        h3 {
          align-items: center;
          padding: 0;
        }

        li {
          margin-bottom: 5px;
        }
      }

      ul:nth-child(1) {
        margin-top: 14px;
      }

      ul:nth-child(3) {
      }
      ul:nth-child(7) {
        margin-right: 10px;
      }

    }
  }






}
