@import "../../assets/bourbon/bourbon";
@import "../../assets/neat/neat";
@import "../../assets/var.scss";

$neat-grid: (
  columns: 12,
  gutter: 0px,

);

.container {
  @include size(100% 500px);
  display: flex;
  justify-content: center;
  align-items: center;

  md-card {
    // margin-left: 50px;
    text-shadow: 1px 1px 1px black;
    box-shadow: 4px 4px 4px solid black;
    border-radius: 5px;
    @include size(100% 450px);

    md-card-header {
      height: 35px;
      display: flex;
      justify-content: center;

      md-card-title {
        margin-top: 5px;
        margin-right: 5px;
      }

      .material-icons{
        margin-bottom: 20px;
      }
    }

    md-card-content {
      @include size(100% 365px);
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      overflow-y: auto;

      ul {
        width: 125px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items:  flex-start;
        margin-bottom: 5px;
        margin-left: 10px;

        md-chip {
          text-align: center;
          width: 100px;
          color: white;
          margin-bottom: 10px;
        }

        li {
          margin-bottom: 10px;
          margin-top: 5px;
          display: flex;
          justify-content: center;
          align-items: center;

          i {
            margin-left: 5px;
            font-size: 18px;
            cursor: pointer;

          }
        }
      }

      ul:nth-child(1) {
        margin-top: 14px;
      }
    }
  }
  @media only screen and (max-width: 1420px) {
    md-card {
      height: 490px;
    }
  }
}
