@import "../../assets/bourbon/bourbon";
@import "../../assets/neat/neat";
@import "../../assets/var.scss";

md-card {
  height: 450px;
  width: 275px;
  box-shadow: 2px 2px 2px black;
  border-radius: 5px;
  margin-top: 2px;

  md-card-header {
    display: flex;
    justify-content: center;
    align-items: center;

    md-card-title {
      margin-top: 15px;
      text-shadow: 1px 1px 1px black;
    }

  }

  md-card-content {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    md-chip-list {
      width: 150px;
      text-align: center;
      margin-bottom: 20px;
      cursor: pointer;

      md-chip{
        &:hover {
          background-color: white;
          color: black;
        }
      }
    }
    button {
      margin-top: 20px;
      text-align: center;
    }
  }

}
@media only screen and (max-width: 1620px) {
  md-card {
    width: 250px;
  }
}
@media only screen and (max-width: 1475px) {
  md-card {
    width: 200px;
  }
}
@media only screen and (max-width: 1420px) {
  md-card {
    width: 150px;
  }
}

@media only screen and (max-width: 1100px) {
  md-card {
    height: 140px;
    width: 750px;

    md-card-header {
      justify-content: center;
      height: 15px;
    }
    md-card-content {
      height: 130px;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      md-chip-list {
        margin-top: 43px;

        md-chip {
          margin-right: 10px;
        }
      }

      md-input-container {
        width: 300px;
      }

      button {
        margin-left: 20px;
        margin-bottom: 30px;
      }
    }
  }

}
@media only screen and (max-width: 855px) {
  md-card {
    width: 600px;

    md-card-content {
      button {
        font-size: 12px;
      }
    }
  }
}
@media only screen and (max-width: 786px) {
  md-card {
    width: 550px;
  }
}
@media only screen and (max-width: 650px) {
  md-card {
    width: 450px;
  }
}
