<header>
  <md-toolbar>
      <span id="logo" routerLink=''>DeckMe</span>
      <span class="toolbar-spacer"></span>
      <button id="navMenu" md-button [mdMenuTriggerFor]="appMenu"><md-icon>menu</md-icon> Menu</button>
  </md-toolbar>
  <md-menu #appMenu="mdMenu" id="dropDown">
    <button md-menu-item (click)="gotoHome()">Home</button>
    <button md-menu-item (click)="gotoDeckBuilder()">Deck Builder</button>
    <button md-menu-item (click)="gotoAbout()">About</button>
    <button md-menu-item (click)="gotoProfile()">Profile</button>
    <div *ngIf="!isLoggedIn">
      <button (click)="login()">Login</button>
    </div>
    <div *ngIf="isLoggedIn">
      <button (click)="logout()">Logout {{userName}}</button>
    </div>
  </md-menu>
</header>
<router-outlet></router-outlet>
<footer>
  <md-toolbar>
    <span class="copyRight"> © 2017 Copyright</span>
    <span class="toolbar-spacer"></span>
    <span class="copyRight">Links:</span>
    <button md-button>GitHub</button>
  </md-toolbar>
</footer>
