<div class="container">
  <header>
    <md-toolbar class="nav-bar"color="primary">
      <md-toolbar-row>

        <span id="logo" routerLink=''>DeckMe</span>
        <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/189292-200.png" alt="">
        <!-- <span class="toolbar-spacer"></span> -->
        <div class="user-name" *ngIf="isLoggedIn">
          <i class="material-icons">person</i>
          <span><a routerLink="profile">{{local.displayName}}</a></span>
        </div>
        <button id="navMenu" md-button [mdMenuTriggerFor]="appMenu"><md-icon>menu</md-icon> Menu</button>
      </md-toolbar-row>

    </md-toolbar>
    <md-menu color="accent" #appMenu="mdMenu" id="dropDown">
      <button md-menu-item routerLink="">Home</button>
      <button md-menu-item routerLink="deckbuilder">Deck Builder</button>
      <button md-menu-item routerLink="about">About</button>
      <button md-menu-item routerLink="profile">Profile</button>
      <div *ngIf="isLoggedIn">
        <button md-menu-item (click)="logout()">Logout</button>
      </div>
    </md-menu>
  </header>
  <div class="router-container">
    <router-outlet></router-outlet>
  </div>
  <footer>
    <md-toolbar color="primary">
      <span class="copyRight"> © 2017 Copyright</span>
      <span class="toolbar-spacer"></span>
      <span class="copyRight">Links:</span>
      <button md-button>GitHub</button>
    </md-toolbar>
  </footer>
</div>
