@import "../assets/bourbon/bourbon";
@import "/../assets/neat/neat";
@import "/../assets/var.scss";

$neat-grid: (
  columns: 12,
  gutter: 0px,

);
.toolbar-spacer {
  // flex: 1 1 auto;
}

md-toolbar {
  width: 100%;
  color: white;
  text-shadow: 1px 1px 1px black;
  border-radius: 3px;
  height: 100px;
  box-shadow: 2px 2px 2px black;
  display: flex;
  justify-content: flex-end;

  md-toolbar-row {
    border: 2px solid red;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {

    }


    img {
      @include size(100px);
      display: flex;
      align-self: center;
    }

    .user-name {
      display: flex;
      flex-direction: row;


      .material-icons {
        margin-right: 20px;
        margin-top: 5px;
      }

    }


  }


}

#logo {
  display: block;
  font-size: 30px;
  font-family: $titleFont;
}
#logo:hover {
  cursor: pointer;
}

#navMenu {
  font-size: 20px;
  width: 125px;
  font-family:  $titleFont;
}

.copyRight {
  font-size: 16px;
  font-family:  $titleFont;
}

md-icon {
  font-size: 22px;
  margin-right: 5px;
}

footer {
  font-family:  $titleFont;
  box-shadow: 2px 2px 2px black;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;

    .router-container {
      flex-grow: 2;
    }
}
