@import "../assets/bourbon/bourbon";
@import "/../assets/neat/neat";
@import "/../assets/var.scss";

$neat-grid: (
  columns: 12,
  gutter: 0px,

);
.toolbar-spacer {
  flex: 1 1 auto;
}

.nav-bar {
  width: 100%;
  color: white;
  text-shadow: 1px 1px 1px black;
  border-radius: 3px;
  height: 100px;
  box-shadow: 2px 2px 2px black;
  display: flex;
  justify-content: flex-end;

  md-toolbar-row {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      @include size(145px);
      display: flex;
      align-self: center;
      margin-top: 30px;
      margin-left: 175px;
    }

    .nav-box {
      height: 50px;
      width: 300px;
      display: flex;
      justify-content: space-between;

      .user-name {
        display: flex;
        flex-direction: row;
        margin-top: 6px;

        span {
          a {
            text-decoration: none;
            color: white;
            margin-right: 20px;

            &:hover {
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }

        .material-icons {
          margin-right: 20px;
          margin-top: 5px;
        }
      }
    }
  }
}

.footer {
  width: 100%;
  color: white;
  text-shadow: 1px 1px 1px black;
  border-radius: 3px;
  height: 100px;
  box-shadow: 2px 2px 2px black;
  display: flex;
  justify-content: center;

  md-toolbar-row {
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;

    .powered-by {
      font-family: $titleFont;
      font-size: 16px;
      margin-right: 20px;
      display: block;
      letter-spacing: 1px;

      .button-1 {
        margin-right: 20px;
        a {
          text-decoration: none;
          color: white;
          text-shadow: 1px 1px 1px black;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .copyRight {
      margin-right: 20px;
      display: block;
      letter-spacing: 1px;

      .button-2 {
        a {
          text-decoration: none;
          color: white;
          text-shadow: 1px 1px 1px black;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

  }
}

#logo {
  display: block;
  font-size: 30px;
  font-family: $titleFont;
}
#logo:hover {
  cursor: pointer;
}

#navMenu {
  font-size: 20px;
  width: 125px;
  font-family:  $titleFont;
}

.copyRight {
  font-size: 16px;
  font-family:  $titleFont;
}

md-icon {
  font-size: 22px;
  margin-right: 5px;
}

footer {
  font-family:  $titleFont;
  box-shadow: 2px 2px 2px black;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;

    .router-container {
      flex-grow: 2;
    }
}


  @media only screen and (max-width: 620px) {
    md-toolbar {
      md-toolbar-row{
        img {
          margin-left: 0px;
        }
      }
    }

  }
