@import "../../assets/bourbon/bourbon";
@import "../../assets/neat/neat";
@import "../../assets/var.scss";

$neat-grid: (
  columns: 12,
  gutter: 0px,

);

md-card {
  height: 400px;
  width: 200px;
  box-shadow: 2px 2px 2px black;
  border-radius: 5px;

  md-card-header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    md-card-title {
      margin-top: 15px;
      text-shadow: 1px 1px 1px black;
    }

    .material-icons {
      margin-left: 5px;
    }
  }


  md-card-content {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    // border: 2px solid red;
    md-input-container {
      // border: 2px solid lime;
    }
    button {
      // border: 2px solid yellow;
    }
  }

}
@media only screen and (max-width: 1420px) {
  md-card {
    width: 150px;
  }
}

@media only screen and (max-width: 1100px) {
  md-card {
    height: 100px;
    width: 750px;
    margin-bottom: 10px;

    md-card-header {
      justify-content: center;
    }
    md-card-content {
      height: 70px;
      flex-direction: row;
      justify-content: center;

      md-input-container {
        width: 300px;
      }

      button {
        margin-left: 20px;
      }
    }
  }

}

@media only screen and (max-width: 855px) {
  md-card {
    width: 600px;
  }
}
@media only screen and (max-width: 786px) {
  md-card {
    width: 550px;
  }
}
@media only screen and (max-width: 650px) {
  md-card {
    width: 450px;
  }
}
