/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/purple-green.css';
// @import '~@angular/material/prebuilt-themes/pink-bluegrey.css';


body {
  // background-color: #c0d860;
  background-color: #282828;
  font-family: 'Oswald', sans-serif;
}

html, body {
  height: 100%;
}
