<!-- <div class="container">
    <div class="search-input">
      <md-input-container color="prmary">
        <input class="test" mdInput type="text" #cardName (keypress)="searchForCard(cardName.value)" placeholder="Search a Card">
      </md-input-container>
    </div>
  <div class="search-output">
      <img src="{{(firstInCards)?.imageUrl}}" alt="">
      <div class="search-results">
        <md-chip-list class="mat-chip-list-stacked">
          <md-chip *ngFor="let card of cards"
              selected="true"
              color="accent"
              (dblclick)="addCardToDB(card); addToDeckClicked(card.multiverseid)" (mouseover)="setFirstInCards(card)">
              {{card.name}}
          </md-chip>
        </md-chip-list>
      </div>
      <ul *ngFor="let card of cards">
        <li (dblclick)="addCardToDB(card); addToDeckClicked(card.multiverseid)" (mouseover)="setFirstInCards(card)">{{card.name}}</li>
      </ul>
  </div>
</div> -->

<md-card id="search-card" color="primary"
>
<!-- CARD HEADER -->
<md-card-header>
    <md-card-title>Card Search:</md-card-title>
    <md-input-container color="accent">
      <input class="test" mdInput type="text" #cardName (keypress)="searchForCard(cardName.value)" placeholder="Search a Card">
    </md-input-container>
  </md-card-header>
  <!-- CARD CONTENT -->
  <md-card-content>
    <img *ngIf="cards" src="{{(firstInCards)?.imageUrl}}" alt="">
    <md-chip-list class="mat-chip-list-stacked">
      <md-chip *ngFor="let card of cards"
          selected="true"
          color="primary"
          (dblclick)="addCardToDB(card); addToDeckClicked(card.multiverseid)" (mouseover)="setFirstInCards(card)">
          {{card.name}}
      </md-chip>
      <md-chip *ngIf="cards" selected="true" color="accent">Double click to add cards</md-chip>
    </md-chip-list>

  </md-card-content>



</md-card>
