@import "../../assets/bourbon/bourbon";
@import "../../assets/neat/neat";
@import "../../assets/var.scss";

$neat-grid: (
  columns: 12,
  gutter: 0px,

);

  md-card {
    @include size(750px 450px);
    box-shadow: 2px 2px 2px black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

      md-card-header {
        display: flex;
        justify-content: space-around;
        align-items: center;

          md-card-title {
            margin-top: 15px;
            margin-right: 15px;

         .material-icons {
          font-size: 32px;
          text-shadow: 1px 1px 1px black;
        }

      }

      md-input-container {
        width: 400px;
      }
    }

    md-card-content {
      @include size(600px 350px);
      display: flex;
      justify-content: space-around;
      align-items: center;

      img {
        border-radius: 15px;
      }

      md-chip {
        width: 200px;
        text-align: center;
        margin-left: 20px;
        cursor: pointer;

        &:hover {
          background-color: white;
          color: black;
        }
      }
    }
  }


  @media only screen and (max-width: 1330px) {
    md-card {
      width: 650px;
    }
  }
  @media only screen and (max-width: 1250px) {
    md-card {
    @include size(550px 400px);

      md-card-content {
        @include size(500px 250px);

        img {
          @include size(150px 225px);
        }

        md-chip {
          width: 150px;
          height: 10px;
        }
      }
    }
  }
  // BREAKPOINTS
  @media only screen and (max-width: 1100px) {
    md-card {
    @include size(750px 290px);

      md-card-content {
        @include size(500px 250px);
        margin-top: 15px;

        img {
          @include size(125px 200px);
        }

        md-chip {
          width: 200px;
        }

      }
    }
  }
    @media only screen and (max-width: 855px) {
      md-card {
        @include size(600px 225px);
      }
    }
    @media only screen and (max-width: 786px) {
      md-card {
        @include size(550px 225px);
      }
    }
    @media only screen and (max-width: 650px) {
      md-card {
        @include size(450px 225px);

      }
    }
