@import "../../assets/bourbon/bourbon";
@import "../../assets/neat/neat";
@import "../../assets/var.scss";

$neat-grid: (
  columns: 12,
  gutter: 0px,
);



.container {
  @include grid-container;
  .welcome {
    @include grid-column(12);
    @include size(100% 200px);
    text-align: center;

    h1 {
      font-size: 48px;
    }

    h1, h2 {
      color: white;
      text-shadow: 1px 1px 1px black;
    }

  }

  .user-login {
    @include grid-column(12);
    @include size(100% 800px);
    display: flex;
    justify-content: center;
    align-items: center;

    .login-pannle {
      @include size(700px);
      border-radius: 5px;
      padding: 20px;

      h2 {
        color: white;
        text-shadow: 1px 1px 1px black;
        text-align: center;
      }

      .new-user {
        // @include size(500px 250px);
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-radius: 5px;

        md-card-header {
          md-card-title {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 200px;

            .material-icons{
              margin-right: 20px;
            }
          }
        }

        button {
          margin-left: 20px;
        }
      }

      .old-user {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        border-radius: 5px;

        md-card-header {
          md-card-title {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 200px;

            .material-icons{
              margin-right: 20px;
            }
          }
        }

        button {
          margin-left: 20px;

          // &:hover {
          //   background-color: white;
          //   color: black;
          // }
        }
      }
    }
  }

}
