
<div class="container">
  <div class="welcome">
    <h1>Welcome To DeckMe!</h1>
    <h2>A simple Magic The Gathering Deck building Application. Simply Create an account, Log in, and start building.</h2>
  </div>
  <div class="user-login">
    <div class="login-pannle">
      <h2>Create an Account:</h2>
      <div class="new-user">
          New User:
        <md-input-container>
          <input mdInput type="text" placeholder="Username" #newUsername> <!-- JOE!! NEW INPUT !-->
        </md-input-container>

        <md-input-container>
          <input mdInput type="text" placeholder="Email" #newEmail>
        </md-input-container>

        <md-input-container>
          <input mdInput type="password" placeholder="Password" #newPassword>
        </md-input-container>

          <button md-raised-button (click)="newUser(newEmail.value, newPassword.value, newUsername.value); newEmail.value=''; newPassword.value=''; newUsername.value='';">Create New User</button>
      </div>
      <h2>Already Have an account?</h2>
      <div class="old-user">
        Login:
        <md-input-container>
          <input mdInput type="text" placeholder="Email" #loginEmail>
        </md-input-container>

        <md-input-container>
          <input mdInput type="password" placeholder="Password" #loginPassword>
        </md-input-container>

        <button md-raised-button (click)="loginUser(loginEmail.value, loginPassword.value); loginEmail.value=''; loginPassword.value='';">Login</button>

      </div>



    </div>
  </div>
</div>


<!-- <md-grid-list cols="1" rowHeight='750px;'>
  <md-grid-tile>
  <div class="test">
    <h1>Welcome To DeckMe</h1>
    <h3>A simple Magic The Gathering Deck building Application</h3>
    <small>New User</small>
    <input type="text" placeholder="Email" #newEmail>
    <input type="password" placeholder="Password" #newPassword>
    <button (click)="newUser(newEmail.value, newPassword.value); newEmail.value=''; newPassword.value='';">Create New User</button>
    <br>
    <small>Login</small>
    <input type="text" placeholder="Email" #loginEmail>
    <input type="password" placeholder="Password" #loginPassword>
    <button (click)="loginUser(loginEmail.value, loginPassword.value); loginEmail.value=''; loginPassword.value='';">Login</button>
  </div>
  </md-grid-tile>
</md-grid-list> -->
