@import "../../assets/bourbon/bourbon";
@import "../../assets/neat/neat";
@import "../../assets/var.scss";

$neat-grid: (
  columns: 12,
  gutter: 0px,

);


.container {
  @include grid-container;
  @include size(100%);
  display: flex;
  justify-content: center;
  align-items: center;

  md-card {
    margin-top: 135px;
    @include size(800px);

    md-card-header {
      md-card-title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;

        .material-icons{
          margin-right: 20px;
        }
      }
    }

    md-card-content {
      display: flex;
      flex-direction: column;
      justify-content: center;


      md-input-container {
        margin: 50px 0;
      }

      button:nth-of-type(3) {
        margin-top: 200px;
      }

    }
  }
}
