<div class="container">

  <md-card>
    <md-card-header>
      <md-card-title><i class="material-icons">account_circle</i>User Profile</md-card-title>
    </md-card-header>
    <md-card-content>
      <md-input-container color="accent">
        <input mdInput type="text" placeholder="Update your User Name:"#changeName>
      </md-input-container>

      <button md-raised-button color="primary"(click)="updateUser(changeName.value); changeName.value='';">Update Username</button>


      <md-input-container color="accent">
        <input mdInput type="text" placeholder="Update your email: {{email}}" #changeEmail>
      </md-input-container>

      <button  md-raised-button color="primary" (click)="updateEmail(changeEmail.value); changeEmail.value='';">Update Email</button>

      <button md-raised-button color="primary"(click)="passwordReset()" mdTooltip="Clicking this button will send a password reset link to your email address!">Passsword Reset</button>
  </md-card-content>

</md-card>
</div>
